*{
  margin: 0;
  padding: 0;
}


.img{
  background-image: url(labios-rojos-300x300.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
}

.img:hover{
  background-image: url(labios-rojos-individual-1-300x300.jpg);
  transition: 100ms;
}